.about-us__header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    background: url('https://images.unsplash.com/photo-1563906267088-b029e7101114?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80') center;
    background-size: cover;
}

.about-us__content {
    padding: 1.5rem 2rem;
}